<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @price.product %>
</p>

<p>
  <strong>Store:</strong>
  <%= @price.store %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
